.App {
    padding: 0px;
}

#title {
    background-color: whitesmoke;
    width: 100vw;
}

h1 {
    margin-top: 0px;
    padding: 10px;
    text-align: center;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.body p {
    padding: 10px;
    color: darkslategrey;
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.canvas_wrapper {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#input_wrapper {
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin: 10px;
}

#input_max_n {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.custom_button {
    padding: 10px;
    background-color: black;
    color: white;
    border-style: solid;
    border-radius: 5%;
    border-color: white;
}

.custom_button:hover {
    background-color: white;
    color: black;
    border-color: black;
}



